<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Почтовое отделение</title>
    <link rel="stylesheet" href="add.css">
</head>

<body>

<header>
    <h1>Ввод информации об окне сотрудника</h1>
</header>

<form>
    <label for="id_employee">Уникальный номер посетителя</label>
    <input type="text" id="id_employee" name="id_employee" required>

    <label for="id_window">Уникальный номер посетителя</label>
    <input type="text" id="id_window" name="id_window" required>


    <label for="date_change">Дата смены:</label>
    <input type="date" id="date_change" name="date_change" required>

    <button type="submit">Добавить данные</button>
</form>

</body>

</html>