<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Почтовое отделение</title>
    <link rel="stylesheet" href="add.css">
</head>

<body>

<header>
    <h1>Ввод информации о группе отправлений</h1>
</header>

<form>
    <label for="number_group">Номер группы:</label>
    <input type="text" id="number_group" name="number_group" required>

    <label for="date_dispatch">Дата отправка:</label>
    <input type="date" id="date_dispatch" name="date_dispatch" required>

    <label for="date_delivery">Дата поставки:</label>
    <input type="date" id="date_delivery" name="date_delivery" required>

    <button type="submit">Добавить данные</button>
</form>

</body>

</html>