<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Почтовое отделение</title>
    <link rel="stylesheet" href="add.css">
</head>

<body>

<header>
    <h1>Ввод информации об организации</h1>
</header>

<form>
    <label for="name_repres_org">Имя представителя организации:</label>
    <input type="text" id="name_repres_org" name="name_repres_org" required>

    <label for="code_org">Код организации:</label>
    <input type="text" id="code_org" name="code_org" required>

    <label for="mail_org">Почта:</label>
    <input type="text" id="mail_org" name="mail_org" placeholder="example@exam.ru" required>

    <button type="submit">Добавить данные</button>
</form>

</body>

</html>