<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Почтовое отделение</title>
  <link rel="stylesheet" href="add.css">
</head>

<body>

<header>
  <h1>Ввод информации окна приема</h1>
</header>

<form>
  <label for="id_window">Уникальный номер окна:</label>
  <input type="text" id="id_window" name="id_window" required>

  <label for="window_number">Номер окна:</label>
  <input type="text" id="window_number" name="window_number" required>

  <label for="status">Статус:</label>
  <input type="text" id="status" name="status" required>

  <button type="submit">Добавить данные</button>
</form>

</body>

</html>