<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Почтовое отделение</title>
    <link rel="stylesheet" href="add.css">
</head>

<body>

<header>
    <h1>Ввод информации об отправителе</h1>
</header>

<form>
    <label for="id_country">Уникальный номер страны</label>
    <input type="text"  id="id_country" name="id_country" required>

    <label for="id_people">Уникальный номер посетителя</label>
    <input type="text" id="id_people" name="id_people" required>


    <label for="id_org">Уникальный номер организации</label>
    <input type="text" id="id_org" name="id_org" required>

    <label for="address">Адрес:</label>
    <input type="text" id="address" name="address" required>

    <button type="submit">Добавить данные</button>
</form>

</body>

</html>