<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Почтовое отделение</title>
    <link rel="stylesheet" href="add.css">
</head>

<body>

<header>
    <h1>Удаление информации об операции</h1>
</header>

<form>
    <label for="opcode">Код операции</label>
    <select id="opcode" name="opcode">
        <div th:each = "Operations : ${Operations}">
            <option th:text = "${Operations.opcode}"></option>
        </div>
    </select>

    <button type="submit">Удалить</button>
</form>

</body>

</html>