<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Почтовое отделение</title>
    <link rel="stylesheet" href="table.css">
</head>

<body>
<nav th:insert="~{navigation::nav}"/>
<header>
    <h1>Информация о группах отправлений</h1>
</header>

<section>
    <table>
        <thead>
        <tr>
            <th>Уникальный номер группы отправления</th>
            <th>Номер группы</th>
            <th>Дата отправки</th>
            <th>Дата поставки</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="GroupOfShipments:${GroupOfShipments}">
            <td th:text="${GroupOfShipments.id_group}"></td>
            <td th:text="${GroupOfShipments.number_group}"></td>
            <td th:text="${GroupOfShipments.date_dispatch}"></td>
            <td th:text="${GroupOfShipments.date_delivery}"></td>
        </tr>
        </tbody>
    </table>
</section>
<div class="block">
    <a class="add" href="addGroupOfShipments">Добавить группу отправления</a><a class="add" href="updateGroupOfShipments">Редактировать данные</a><a class="add" href="deleteGroupOfShipments">Удалить запись</a>
</div>


</body>

</html>