<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="table.css">
</head>
<body>
<nav th:fragment="nav">
    <a href="Country"> &#8592; таблицы</a>
    <a href="RequestOne">Запрос 1</a>
    <a href="RequestTwo">Запрос 2</a>
    <a href="RequestFour">Запрос 4</a>
    <a href="RequestFive">Запрос 5</a>
    <a href="RequestSix">Запрос 6</a>
    <a href="RequestSeven">Запрос 7</a>
    <a href="RequestEigth">Запрос 8</a>
</nav>
</body>
</html>