<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="table.css">
</head>
<body>
<nav th:fragment="nav">
   <a href="RequestOne"> &#8592; запросы</a>
    <a href="Country">Страны</a>
    <a href="Employees">Сотрудники</a>
    <a href="EmployeeWindow">Сотрудник окно</a>
    <a href="GroupOfShipments">Группы отправлений</a>
    <a href="Operations">Операция</a>
    <a href="Organizations">Организации</a>
    <a href="People">Посетители</a>
    <a href="Position">Должности</a>
    <a href="Queue">Очередь</a>
    <a href="ReceptionWindows">Окно приема</a>
    <a href="Senders">Отправители</a>
    <a href="Shipments">Отправления</a>
    <a href="TypesOfShipments">Виды отправлений</a>
</nav>
</body>
</html>