<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Почтовое отделение</title>
    <link rel="stylesheet" href="table.css">
</head>
<body>

<nav th:insert="~{navigation::nav}"/>

<header>
    <h1>Информация окна приема</h1>
</header>

<section>
    <table>
        <thead>
        <tr>
            <th>Уникальный номер окна</th>
            <th>Номер окна</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ReceptionWindows:${ReceptionWindows}">
            <td th:text="${ReceptionWindows.id_window}"></td>
            <td th:text="${ReceptionWindows.window_number}"></td>
            <td th:text="${ReceptionWindows.status}"></td>
        </tr>
        </tbody>
    </table>
</section>

<div class="block">
    <a class="add" href="addReceptionWindows">Добавить окно приема</a><a class="add" href="updateReceptionWindows">Редактировать данные</a><a class="add" href="deleteReceptionWindows">Удалить запись</a>
</div>

</body>
</html>