<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Почтовое отделение</title>
    <link rel="stylesheet" href="table.css">
</head>

<body>
<nav th:insert="~{navigation::nav}"/>
<header>
    <h1>Информация об видах отправления</h1>
</header>

<section>
    <table>
        <thead>
        <tr>
            <th>Уникальный номер вида</th>
            <th>Наименование</th>
            <th>Ценность</th>
            <th>Стоимость</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="TypesOfShipments:${TypesOfShipments}">
            <td th:text="${TypesOfShipments.id_type}"></td>
            <td th:text="${TypesOfShipments.name}"></td>
            <td th:text="${TypesOfShipments.cost}"></td>
            <td th:text="${TypesOfShipments.price}"></td>
        </tr>
        </tbody>
    </table>
</section>
<div class="block">
    <a class="add" href="addTypesOfShipments">Добавить вид отправления</a><a class="add" href="updateTypesOfShipments">Редактировать данные</a><a class="add" href="deleteTypesOfShipments">Удалить запись</a>
</div>


</body>

</html>