<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Почтовое отделение</title>
    <link rel="stylesheet" href="add.css">
</head>

<body>

<header>
    <h1>Изменение информации об отправителе</h1>
</header>

<form>

    <label for="id_sender">Уникальный номер отправителя:</label>
    <select id="id_sender" name="id_sender">
        <div th:each="Senders:${Senders}">
            <option th:text="${Senders.id_sender}"></option>
        </div>
    </select>

    <label for="id_country">Уникальный номер страны</label>
    <select id="id_country" name="id_country">
        <option style="display:none"> </option>
        <div th:each = "Senders : ${Senders}">
            <option th:text = "${Senders.id_country}"></option>
        </div>
    </select>

    <label for="id_people">Уникальный номер посетителя</label>
    <select id="id_people" name="id_people">
        <option style="display:none"> </option>
        <div th:each = "Senders : ${Senders}">
            <option th:text = "${Senders.id_people}"></option>
        </div>
    </select>

    <label for="id_org">Уникальный номер организации</label>
    <select id="id_org" name="id_org">
        <option style="display:none"> </option>
        <div th:each = "Senders : ${Senders}">
            <option th:text = "${Senders.id_org}"></option>
        </div>
    </select>

    <label for="address">Адрес:</label>
    <input type="text" id="address" name="address">


    <button type="submit">Изменить данные</button>
</form>

</body>

</html>