<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Почтовое отделение</title>
    <link rel="stylesheet" href="add.css">
</head>

<body>

<header>
    <h1>Изменение информации об операции</h1>
</header>

<form>
    <label for="opcode">Код операции</label>
    <select id="opcode" name="opcode">
        <div th:each = "Operations : ${Operations}">
            <option th:text = "${Operations.opcode}"></option>
        </div>
    </select>

    <label for="name_op">Наимаенование:</label>
    <input type="text" id="name_op" name="name_op">

    <label for="date_begin">Дата начала:</label>
    <input type="date" id="date_begin" name="date_begin">

    <label for="date_end">Дата окончания:</label>
    <input type="date" id="date_end" name="date_end">

    <button type="submit">Изменить данные</button>
</form>

</body>

</html>