<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Почтовое отделение</title>
  <link rel="stylesheet" href="add.css">
</head>

<body>

<header>
  <h1>Изменение информации об посетителе</h1>
</header>

<form>
  <label for="id_people">Уникальный номер посетителя</label>
  <select id="id_people" name="id_people">
    <div th:each = "People : ${People}">
      <option th:text = "${People.id_people}"></option>
    </div>
  </select>

  <label for="full_name">ФИО:</label>
  <input type="text" id="full_name" name="full_name">

  <div class="gender-label">
    <label for="gender">Пол:</label>
    <input type="radio" id="gender" name="gender" value="Мужской"> <span>Мужской</span>
    <input type="radio" id="gender" name="gender" value="Женский"> <span>Женский</span>
  </div>

  <label for="birthdate">Дата рождения:</label>
  <input type="date" id="birthdate" name="birthdate">

  <label for="passport_inf">Паспортные данные:</label>
  <input type="text" id="passport_inf" name="passport_inf">

  <label for="phone_number">Номер телефона:</label>
  <input type="text" id="phone_number" name="phone_number" placeholder="89999999999">

  <button type="submit">Изменить данные</button>
</form>

</body>

</html>